# MongoDB
MONGODB_URI=mongodb://localhost:27017/phishing-sim

# Server
PORT=5000
NODE_ENV=development

# SMTP (Gmail örneği)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=sizin-email@gmail.com
SMTP_PASS=sizin-uygulama-sifreniz

# URLs
FRONTEND_URL=http://localhost:3000
TRACKING_URL=http://localhost:5000

# JWT Authentication
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRE=7d

# Redis (Email Queue için - Upstash önerilen)
# Upstash'ten ücretsiz Redis: https://upstash.com
REDIS_URL=redis://default:your-password@your-endpoint.upstash.io:6379
