# Dependencies
node_modules/
frontend/node_modules/

# Environment variables (asla commit etmeyin!)
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# Secrets & Certificates
*.pem
*.key
*.crt
*.p12
*.pfx

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build files
frontend/build/
dist/

# Python
ml-service/venv/
ml-service/.venv/
__pycache__/
*.py[cod]
*.pyo

